*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  header {
    background: #111;

    h1 {
      color: #eee;
      margin: 0px;
      padding: 20px;
      text-align: center;
    }
  }

  main {
    padding: 3rem;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #ccc;
    border-top: 3px solid orange;
    padding: 10px;
  }
}
