html,
body {
  margin: 0;
  padding: 0;
}

body {
  #root {
    main {
      height: 100vh;
      section {
        display: flex;
        justify-content: space-around;
        a {
          color: skyblue;
        }
      }
      label {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
